<h1>Listing stock_cars</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_cars.each do |stock_car| %>
      <tr>
        <td><%= link_to 'Show', stock_car %></td>
        <td><%= link_to 'Edit', edit_stock_car_path(stock_car) %></td>
        <td><%= link_to 'Destroy', stock_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock car', new_stock_car_path %>
