<% provide(:title, 'Administrador') %>
<h1>Admin</h1>


<p><%= link_to "Reportes",  "/reports",  class: "btn btn-primary" %></p>
<p><%= link_to "Facturas",  "/invoices",  class: "btn btn-primary" %></p>
<p><%= link_to "Nóminas",   "/roster",  class: "btn btn-primary" %></p>
