<h1>Editando molde de pieza</h1>

<%= render 'form' %>

<!-- <%= link_to 'Terminar Edición', @mold_spare,  class: "button button-primary" %> | -->
<%= link_to 'Regresar', mold_spares_path,  class: "button " %>
