	<h2>Busca el modelo</h2>

	<%= form_tag search_for_generic_car_path,  class: "form-inline", remote: true do  %>
		<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
		<%= text_field_tag :model , nil, class: "form-control"  %>
		<%= submit_tag 'Buscar', class: "btn btn-primary" %>
	<% end %>

	<h2 id="genericCarsFoundTitle">Modelos encontrados:</h2>
	<div id="genericCarsFound"></div>

	<h2 id="genericCarRelatedFamiliesTitle" >Familias relacionadas:</h2>
	<div id="genericCarRelatedFamilies"></div>

