<%= form_tag store_stocks_inventories_path do  %>

<h2>Codigo de Subseccion </h2>
<%= text_field_tag :section_code,nil, class: "form-control text-center" %>


	<%= submit_tag nil,  class: "btn btn-primary pull-right" %>
<% end %>
