<h1>Salidas</h1>
<h2>Ingresa el código de la pieza</h2>
<%= form_tag action: :departure_stock_family, class: "form-inline", method: :get do  %>
	<%= text_field_tag :code , nil, class: "form-control"  %>
	<%= select_tag "status", options_for_select([ "Instalada", "Vendida Externo", "Envio Propio" ], "Instalada") %>
	<%= submit_tag 'Sacar Pieza', class: "btn btn-primary" %>
<% end %>

