<h1>Inventories</h1>
<%= link_to "Precios", "#", class: "btn btn-primary"%>
<%= link_to "Ver todo", all_inventories_path, class: "btn btn-primary"%>
<%= link_to "Ver Órdenes de entrada", orders_path, class: "btn btn-primary"%>

<%= link_to "Acomodar Piezas", acomodate_inventories_path, class: "btn btn-primary"%>

