<h1>Carro genérico | Asignación de Familias </h1>
<%= render 'shared/generic_car', car: @generic_car%>
<%= render 'generic_car_families', car: @generic_car %>
<%= render 'other_generic_car_families', car: @other_families %>
<%= link_to "Cancel", generic_cars_path , class: "btn " %>
