<% provide(:title, 'Administrador | Nómina') %>
<h1>Nómina</h1>


<p><%= link_to "Efectividad",  "/roster/employeePerformance",  class: "btn btn-primary" %></p>
<p><%= link_to "Asistencia",  "/roster/attendance",  class: "btn btn-primary" %></p>
