<h1>Listing family_likelihoods</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @family_likelihoods.each do |family_likelihood| %>
      <tr>
        <td><%= link_to 'Show', family_likelihood %></td>
        <td><%= link_to 'Edit', edit_family_likelihood_path(family_likelihood) %></td>
        <td><%= link_to 'Destroy', family_likelihood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family likelihood', new_family_likelihood_path %>
