


<p>
  <strong>Name:</strong>
  <%= @family.name %>
</p>

<% for generic_spare in  @family.generic_spares %>
  <%= generic_spare.name %>
<% end %>




<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
