<table class="table">
		<thead>
			<th> Mes/Año </th>
			<th> Minutos Tarde </th>
			<th> Penalización </th>
		</thead>
		<tbody>
			<% @user.delays.each do |delay|%>
				<tr>
					<td><%= "#{delay.month}/#{delay.year}" %></td>
					<td><%= delay.minutes_late %></td>
					<td><%= "MXN #{delay.minutes_late * 35}" %></td>
				</tr>
			<% end %>
		</tbody>
</table>