 <table class="table table-striped">
 	<thead>
        <tr>
          <th> Nombre</th>
          <th> </th>
          <th> Código</th>
          <th> Tipo</th>
          <th> Proveedor</th>
          <th> Precio</th>
          <th> Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= generic_families_found.first.name %></td>
          <td><%= generic_families_found.last.name %></td>

        </tr>
      </tbody>
</table>

