
<div class="modal fade" id="login">
   <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">

            <span aria-hidden="true">
              &times;
            </span>
            <span class="sr-only">
              Close
            </span>
          </button>

          <h4> Ingresa tus Datos </h4>
        </div>
        <div class="modal-body text-center">
          <input type="text" id="code" placeholder="Codigo de Operación">
        </div>
        <div class="modal-footer">
          <button type="submit" id="continue" value="CONTINUAR" class="btn btn-login">CONTINUAR</button>
        </div>
      </div>
    </div>
</div>




  <h1>Bienvenido</h1>


  <p>
Lorem ipsum dolor sit amet, qui ne prima appetere dissentiet,
 et vel corpora evertitur, at prima exerci efficiantur pro.
 Probo choro ius te. Scaevola explicari at vim, cu quo prompta nominati, sit in porro maiestatis.
  Ei everti inciderint ius. Iisque luptatum nam ut, scripta aliquam eu quo.Lorem ipsum dolor sit amet, qui ne prima appetere dissentiet,
   et vel corpora evertitur, at prima exerci efficiantur pro.
   Probo choro ius te. Scaevola explicari at vim, cu quo prompta nominati, sit in porro maiestatis.
    Ei everti inciderint ius. Iisque luptatum nam ut, scripta aliquam eu quo.
  <p>


<h3> Para Continuar click en INGRESAR </h3>
