<%= form_for(@generic_spare) do |f| %>
  <% if @generic_spare.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @generic_spare.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>




<div class="actions">
  <%= link_to "Cancelar", generic_spares_path, data: { confirm: "Seguro quieres salir? (Se perderán todos los cambios)" } %>
  <%= f.submit "Guardar Familia" %>
</div>
<% end %>
