<%= form_for @generic_spare do |f|%>
  <h1>Pieza Generica </h1>

  <table class="table">
    <thead>
      <th> Marca </th>
      <th> Tipo </th>
      <th> Nombre </th>
      <th> Región </th>
      <th> Descripción </th>
    </thead>
    <tbody>
      <%= render "generic_spare_fields", fff: f %>
    </tbody>
  </table>

  <%= f.submit "Guardar" %>
<% end %>
