<%= form_for(@order) do |f| %>
  <div class="field">
    <%= f.label :entrance_date %><br>
    <%= f.date_select :entrance_date %>
  </div>
  <div class="field">
    <%= f.label :warehouse_id %><br>
    <%= f.number_field :warehouse_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>