
<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @employee.name %></td>
		</tr>
	</tbody>
</table>

<%= form_tag spend_supplies_path, remote: true do %>
	<%= text_field_tag :supply_code %>
	<%= submit_tag "Buscar Consumible" %>
<% end %>


<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Codigo</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
		</tr>
	</tbody>
</table>