<div class="nested-fields">
	<div class="col-md-6">
		<div class="form-group field">
			<%= f.label :name %>
			<%= f.text_field :name, class:'form-control' %>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group field">
			<%= f.label :code %>
			<%= f.text_field :code, class:'form-control' %>
		</div>
	</div> 
</div>