
<p>
  <strong>Name:</strong>
  <%= @stock_spare.generic_spare.name %>
</p>

<p>
  <strong>photo:</strong>
  <%= image_tag @stock_spare.photo.url %>
</p>

<%= link_to("Regresar a Ordenes", orders_path) %>