<%= form_for(@type_likelihood) do |f| %>
  <% if @type_likelihood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_likelihood.errors.count, "error") %> prohibited this type_likelihood from being saved:</h2>

      <ul>
      <% @type_likelihood.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
