<h1>Listing type_likelihoods</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @type_likelihoods.each do |type_likelihood| %>
      <tr>
        <td><%= link_to 'Show', type_likelihood %></td>
        <td><%= link_to 'Edit', edit_type_likelihood_path(type_likelihood) %></td>
        <td><%= link_to 'Destroy', type_likelihood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type likelihood', new_type_likelihood_path %>
