<% provide(:title, "Consultar estado de Auto") %>

<div class="jumbotron">
  <%= form_for(:client_actions, url: client_actions_show_path, class: "form-signin form-inline") do |f| %>
    <h1 class="blutits">Consultar estado de Auto</h1>
      <div class="form-group col-md-5">
            <%= f.text_field :email, class: "form-control basic-input", placeholder: "NUMERO DE REGISTRO", id: "userInput" %>
      </div>
        <button type="submit" class="btn btn-primary col-md-2">Consultar</button>
  <% end %>
</div>

<p></p>
<p>Find me in app/views/client_actions/home.html.erb</p>
