<% provide(:title, "Consultar estado de Auto") %>

<div class="jumbotron">
  
    <h1 class="blutits">Consultar estado de Auto</h1>
      <div class="form-group col-md-5">
            <input  type="text" class="form-control basic-input" placeholder="NUMERO DE REGISTRO" id="userInput" %>
      </div>
        <button type="button" class="btn btn-primary col-md-2 search">Consultar</button>
  
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="show-car">
			
		</div>
	</div>
</div>


