// Place all the styles related to the genericCars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.years{
  margin:0px auto;
}

.years_con{
  margin:0px auto;
}
.continua{
  text-align:center;
  margin-left: 10px;
}
.note{
  font-size:11px !important;
}
