<% provide(:title, 'Ajustador') %>

<h1> Aviso de Privacidad </h1>

<p>Keytar deep v authentic twee irony. Odd Future single-origin coffee semiotics, Intelligentsia scenester paleo deep v next level Schlitz letterpress. Pop-up American Apparel fingerstache, pug hoodie meh direct trade selfies ugh try-hard Tonx yr. Beard swag raw denim fashion axe YOLO hoodie PBR&B. Pug cornhole literally, chillwave fixie food truck High Life. Master cleanse Brooklyn trust fund, cliche craft beer bespoke Carles retro. Street art McSweeney's Tonx pour-over Williamsburg, farm-to-table bitters.
</p>

<p><%= link_to "Acepto el Aviso de Privacidad",  new_pre_valuation_path,  class: "btn btn-primary" %></p>
