<% provide(:title, 'Administrador') %>

<p><%= link_to "Reportes",  reports_path,  class: "btn btn-primary" %></p>
<p><%= link_to "Facturas",  bills_path,  class: "btn btn-primary" %></p>
<p><%= link_to "Nóminas",   paysheets_path,  class: "btn btn-primary" %></p>
