<h1>Admin</h1>
<p><%= button_to "Reportes",  reports_path, :method => :get,  class: "btn btn-primary" %></p>
<p><%= button_to "Facturas",  bills_path, :method => :get,  class: "btn btn-primary" %></p>
<p><%= button_to "Nóminas",   paysheets_path, :method => :get,  class: "btn btn-primary" %></p>
