<% provide(:title, 'Gerente') %>
<h1>Gerente</h1>


<p><%= link_to "Reportes",  reports_path,  class: "btn btn-primary" %></p>
<p><%= link_to "Nóminas",   paysheets_path,  class: "btn btn-primary" %></p>
