<h1>Almacenes y bodegas</h1>
<%= link_to 'Nuevo Almacén', new_warehouse_path, class:"btn btn-primary" %>
<table class="table">
  <thead>
    <tr>
      <th>Sucursal</th>
      <th>Locación</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= warehouse.branch %></td>
        <td><%= warehouse.location %></td>
        <td><%= link_to 'Mostrar', warehouse ,class:"btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>