<% provide(:title, 'Administrador | Reportes') %>

<h1>Reportes</h1>


<p><%= link_to "Seguros",  "/reports/insurance",  class: "btn btn-primary" %></p>
<p><%= link_to "Reparaciones",  "/reports/repair",  class: "btn btn-primary" %></p>
<p><%= link_to "Coches",   "/reports/cars",  class: "btn btn-primary" %></p>
