<header class="navbar navbar-fixed-top navbar-inverse grey">
    <div class="container-fluid">
      <!-- <%= link_to image_tag("logo.png"), root_path, id: "logo" %> -->
      <%= link_to "SYRAT", root_path, id: "logo", class:"brand" %>
      <nav>
        <div class="nav pull-right">
          <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#login">
              INGRESAR
          </button>
        </div>
      </nav>
    </div>
</header>
